body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.resumeBtn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.resumeBtn:hover {
    background-color: RoyalBlue;
}

img {
    width: 100px;
    height: 100px;
}


/* div.imageContainer {
    width: 100px;
    height: 100px;
} */

div.imageContainer>img:hover {
    width: auto;
    height: auto;
}

.resumeBtn {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.resumeBtn:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.resumeBtn:active {
    position: relative;
    top: 1px;
}