body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.resumeBtn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.resumeBtn:hover {
    background-color: RoyalBlue;
}


/* img {
    width: 100px;
    height: 100px;
} */

.imageContainer {
    width: 100px;
    height: 100px;
}

.imageContainer>img:hover {
    width: auto;
    height: auto;
}